brew "anyenv"
brew "chezmoi"
brew "fastfetch"
brew "fzf"
brew "gh"
brew "git"
brew "git-secrets"
brew "jq"
brew "lazygit"
brew "mise"
brew "neovim"
brew "ripgrep"
brew "tmux"
brew "trasta298/tap/keifu"
brew "wget"
brew "zsh-autosuggestions"
brew "zsh-completions"
cask "1password-cli"
cask "claude-code@latest"

{{- if or (eq .profile "home") (eq .profile "work") }}
cask "1password"
cask "alacritty"
cask "arc"
# cask "cursor"
# cask "deepl"
cask "discord"
cask "docker-desktop"
cask "figma"
cask "font-hack-nerd-font"
cask "google-chrome"
cask "keyboardcleantool"
cask "logi-options+"
# cask "miro"
cask "notion"
# cask "postman"
cask "raycast"
cask "slack"
cask "tailscale-app"
cask "visual-studio-code"
# cask "warp"
cask "zoom"
{{- end }}

{{- if eq .profile "home" }}
cask "balenaetcher"
# cask "burn"
# cask "grammarly"
# cask "logisim-evolution"
# cask "proxyman"
{{- end }}

{{- if eq .profile "work" }}
brew "argocd"
brew "argoproj/tap/kubectl-argo-rollouts"
brew "awscli"
brew "azure-cli"
brew "direnv"
brew "helm"
brew "istioctl"
brew "k6"
brew "kind"
brew "kube-ps1"
brew "kubectx"
brew "kubernetes-cli"
brew "kustomize"
brew "libpq"
brew "minikube"
brew "oven-sh/bun/bun"
brew "tflint"
cask "gcloud-cli"
cask "linear-linear"
{{- end }}

{{- if eq .profile "server" }}
brew "colima"
brew "docker"
brew "docker-compose"
brew "gcc"
brew "helm"
brew "hugo"
brew "kind"
brew "kube-ps1"
brew "kubectx"
brew "kubernetes-cli"
brew "libpq"
brew "minikube"
brew "nmap"
brew "tailscale"
brew "vfkit"
{{- end }}

# Archive (R)
# brew "awscli"
# brew "libpq"
# brew "poppler"

# Archive (A)
# brew "awscli"
# tap "bufbuild/buf"
# brew "buf"
# brew "libpq"

# Archive (R)
# tap "bufbuild/buf"
# brew "buf"
# tap "ktr0731/evans"
# brew "evans"
# brew "git-flow-avh"
# brew "helm"
# brew "istioctl"
# brew "kubectx"
# brew "kubernetes-cli"
# brew "kube-ps1"
# brew "libpq"
# brew "protobuf"
# brew "sops"
# cask "dbeaver-community"
# cask "gcloud-cli"
# cask "graphiql"
