# for evans
# tap "ktr0731/evans"

# for buf
# tap "bufbuild/buf"

# Common
brew "anyenv"
brew "chezmoi"
brew "fzf"
brew "gh"
brew "git"
brew "git-secrets"
brew "jq"
brew "lazygit"
brew "mise"
brew "fastfetch"
brew "neovim"
brew "ripgrep"
brew "tmux"
brew "wget"
brew "zsh-autosuggestions"
brew "zsh-completions"

# Personal
# brew "gcc"
# brew "hugo"
# brew "kind"
# brew "nmap"
# brew "pstree"

# Work
# brew "argocd"
# brew "argoproj/tap/kubectl-argo-rollouts"
# brew "azure-cli"
# brew "awscli"
# brew "buf"
# brew "direnv"
# brew "evans"
# brew "git-flow-avh"
# brew "golangci-lint"
# brew "helm"
# brew "istioctl"
# brew "k6"
# brew "kubectx"
# brew "kubernetes-cli"
# brew "kube-ps1"
# brew "kustomize"
# brew "libpq"
# brew "minikube"
# brew "oven-sh/bun/bun"
# brew "poppler"
# brew "protobuf"
# brew "python@3.11"
# brew "sops"
# brew "tflint"
# brew "vfkit"

# Common
cask "1password"
cask "1password-cli"
cask "alacritty"
cask "arc"
cask "claude-code"
cask "discord"
cask "docker-desktop"
cask "figma"
cask "font-hack-nerd-font"
cask "google-chrome"
cask "keyboardcleantool"
cask "logi-options+"
cask "notion"
cask "raycast"
cask "slack"
cask "tailscale-app"
cask "visual-studio-code"
cask "zoom"

# Personal
# cask "balenaetcher"
# cask "background-music"
# cask "burn"
# cask "cursor"
# cask "deepl"
# cask "grammarly"
# cask "logisim-evolution"
# cask "miro"
# cask "warp"

# Work
# cask "dbeaver-community"
# cask "gcloud-cli"
# cask "graphiql"
# cask "linear-linear"
# cask "postman"
# cask "proxyman"

